<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->
        
        <link rel="icon" 
              type="image/png" 
              href="/static/earth-attack.ico">
        <link href='https://fonts.googleapis.com/css?family=Alegreya+Sans:200,400,900' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="/static/styles/style.css">
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header>
          <h1 class="logo">Imperativ.es</h1>
          <h2 class="mission">Make the world objectively better for
            everyone. Act on the most urgent imperatives.
          </h2>
          <div class="main-cta">
            <h2>Get Involved on <a href="https://github.com/imperatives-united/imperativ.es">github</a> or send an email to <a href="mailto:do@imperativ.es">join@imperativ.es</a>
            </h2>
          </div>
        </header>
        
        <div class="main-content">
          <div class="main-content-section">
            <h2>Which Imperatives?</h2>
            <ul>
              <li><strong>Global Catastrophe &amp; Existential Risk</strong> - The continued survival of the human race and the planet we live on. (<a href="https://michaelkarpeles.com/curations/preventing-catastrophe">notes</a>)</li>
            </ul>
          </div>
          
          <div class="main-content-section">
            <h2>How are imperatives choosen?</h2>
            <p>Imperatives was started by a group of people who shared
              the fundamental belief that, we can't do anything lasting
              if the human race becomes extinct or our planet is
              destroyed. This seemed natural as the first imperative on
              which to focus. In addition to being consequences being
              catastrophic, the imperative also has the quality that
              very few people oppose it, As we gain momentum the
              community will decide how new imperatives should be added
            </p>
          </div>

          <div class="main-content-section">
            <h2>Structure</h2>
            <p><strong>Imperatives</strong> is a united coallition of
              special interest groups who are tired of navigating
              political red tape and only want to make the world a
              better place for all. While our constituents may only be
              invested in some of the imperatives we champion, we find
              strength in our collective numbers to mobilize, help each
              other where possible, and enact lasting change. We operate
              primarily through Slack, with each imperative having its
              own channel, and occassionally structure in-person
              meetings and online calls to share ideas, share
              connections, and figure out next steps.
            </p>

            <h3>What we are not. What we are.</h3>
            <ul>
              <li>We're not a movement, we're a way of life.</li>
              <li>We are not campaigners who change minds. We are a process for surfacing and proliferating unbiased and accurate assessments of risk</li>
              <li>We are not limited by "left", "right" or any sort of political ideological alignment. We are a framework to unite and strengthen altruistic efforts.</li>
              <li>We do not divide people, instead we search for common ground</li>
              <li>We do not employ in ad hominem attacks. He employ empirical results and practical solutions.</li>
              <li>We do not participate in Cargo Cult Science. We offer our best approximation of problems and invite challenges to increase our precision.</li>
              <li>We are not for profit. We are a not-for-profit working group.</li>
              <li>We do not measure our success in dollars, but in risk reduction and people enabled.</li>
              <li>We are not radical. We are resolved to look-out for humanities well being.</li>
              <li>We are not practitioners of hate, discrimination, or violence. We are practitioners of healthy skepticism, tolerance, and responsible methods.</li>
              <li>We are not Effective Altruism seeking to do the most good. We are advocators of doing the right good.</li>
            </ul>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-1.12.2.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.2.min.js"><\/script>')</script>
    </body>
</html>
