
body {
    margin: 0px;
    padding: 0px;
}

.main-content {
    margin: 25px;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #369;
    padding: 5px 10px;
}

h1.logo {
    font-family: 'Alegreya Sans', sans-serif;
    color: #eee;
}
